{% extends 'base.html' %}

{% block main %}
    <section class="d-flex justify-content-between align-items-center">
        <h1>Events</h1>
        <a href="{{ url_for('new_event')}}" class="btn btn-sm btn-primary">Log an Event</a>
        <form action="{{ url_for('events') }}" method="post">
            {{ form.csrf_token }}
            <div class="form-group mb-3">
                {{ form.distance.label(class="form-label") }}
                {{ form.distance(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>

    {% include 'flash_messages.html' %}

    <div class="table-responsive">
        {% if events %}
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Date & Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.entry }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>There are currently no events.</p>
        {% endif %}
    </div>
{% endblock %}